.container__footer {
    height: 3rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.container__footer, p {
    background-color: #3b444b;   
}