.container__menu-bar {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}

.container__menu-bar ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container__menu-bar li {
    margin-right: 2rem;
}